# MySQL
CITYWISH_BASE_URL=http://localhost:8080
CITYWISH_DB_PASS=
CITYWISH_COOKIE_DOMAIN=

# HabboCity API
CITYWISH_API_KEY=

# Optional Discord notifications
CITYWISH_ADMIN_DISCORD_WEBHOOK=
CITYWISH_GIVEAWAY_DISCORD_WEBHOOK=
